url        = "ldap://example.org"
base_dn    = "ou=people,dc=example,dc=org"
filter     = "(nickname={})"
attributes = ["nickname", "uid"]
user_dn    = "cn=root,dc=example,dc=org"
password   = "super-secret"

